<%# Member Dashboard %>

<%- include('header.ejs') %>

<!-- Bootstrap modal to make an artwork sellable -->
<div class="modal fade" id="artSellModal" tabindex="-1" role="dialog" aria-labelledby="artSellModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="artSellModalLabel">Sell This Artwork</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form action="#">
      <input type="hidden" name="artworkId" id="artworkId" value="" />
      <input type="hidden" name="galleryId" id="galleryId" value="" />
      <div class="modal-body">
      <row class="mt-2">
        <div class="small">Note: You can cancel until someone buys. You have a right to buy back at any time with + 5%.</div>
      </row>
      <row>
        <div class="form-group ml-0">
          <span class="text-bold">Enter the percent you’d like to sell of this artwork?<br/> 
          (between 10 and 49%)</span> 
          <input class="form-control col-md-4" type="number" name="percentage" min="10" max="49" placeholder="% sell" required>
        </div>
      </row>
      <row class="mt-2 mb-2">
        <div class="form-check mb-0">
        <input type="checkbox" class="form-check-input" id="buyback" required>
        <label class="form-check-label small" for="buyback">You are entering into a legally binding contract to sell fractional ownership of this art. You warrant, as an individual member, 
        that you have full rights to sell this piece of art and that you agree to the Terms of Service.   
        </label>
        </div>
        <div class="small text-danger">For demonstration purposes only.</div>
      </row>
      </div>
      <div class="modal-footer">
      <button type="button" name="btnCancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="submit" name="btnSell" value="Sell" class="btn btn-primary">Sell</button>
      </div>
    </form>
    </div>
  </div>
</div>

<section class="container">
    <div class="row dashboard mt-4 mb-4">
      <div class="col">
        <!-- Taurus API call for member name -->
        <p class="lead text-muted"><%= MemberData.FirstName %>, Welcome to your Dashboard<br/>
        Here you can discover and buy fractionalized artwork.</p>
      </div>
    </div>
</section>  

<!-- Bootstrap accordian panel to display open/close sections for Discover Art, My Art, My Financials --> 
<div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel1">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="dashboard" data-toggle="collapse" data-target="#collapseOne" 
             href="#collapseOne" class="collapsed">Discover Art</a>
          </h4>
        </div>
    	<div id="collapseOne" class="panel-collapse collapse">
    		<div class="panel-body">
    			<% DiscoverArt.forEach(function(Artwork) { %>
    				<div class="row mt-4 mb-4">
    				<div class="col-md-12">
    					<row>
    					<% if (Artwork.HasThumbnail) { %>
    						<img class="rounded float-left mr-2 provenance" src="<%= ApiServer %>/stream/thumbnail/<%= Artwork.Id %>" data-holder-rendered="true">
    					<% } else { %>
    						<img class="rounded float-left mr-2 provenance" alt="100x100" src="/images/thumbnail100.svg" data-holder-rendered="true">
    					<% } %>
    					<p class="metadata-title mb-0">
    						<a href="/art-detail?artworkId=<%= Artwork.Id %>">
    							<%= Artwork.Title %>
    						</a>
    					</p>
    					<p class="description text-muted mb-0"><%= Artwork.Description %></p>
    					<p class="text-bold mb-0"><%= Artwork.Artist %></p>

    					<% if (Artwork.Sellable) { %>
    						<p class="text-bold mb-0">For Sale: <%= Artwork.Price %></p>
    					<% } else { %>
    						<p class="text-bold mb-0"><b>Not for Sale</b></p>
    					<% } %>
    					</row>
    				</div>
    				</div>
    			<% }); %>

    			<div>
    				<a href="/art-discover">See all &gt;</a>
    			</div>
    		</div>
    	</div>
	</div>

    <div class="panel panel-default" id="panel2">
	  <div class="panel-heading">
		<h4 class="panel-title">
		  <a class="dashboard" data-toggle="collapse" data-target="#collapseTwo" 
		   href="#collapseTwo" class="collapsed">My Art</a>
		</h4>
	  </div>
		<div id="collapseTwo" class="panel-collapse collapse">
  			<div class="panel-body">
  				<% if (MyArt && MyArt.length > 0) { %>
  				<% MyArt.forEach(function(Artwork) { %>
  					<div class="row mt-4 mb-4">
  					<div class="col-md-12">
  						<row>
  							<% if (Artwork.HasThumbnail) { %>
  								<img class="rounded float-left mr-2 provenance" src="<%= ApiServer %>/stream/thumbnail/<%= Artwork.Id %>" data-holder-rendered="true">
  							<% } else { %>
  								<img class="rounded float-left mr-2 provenance" alt="100x100" src="/images/thumbnail100.svg" data-holder-rendered="true">
  							<% } %>
  							<p class="metadata-title mb-0">
  								<a href="/art-detail?artworkId=<%= Artwork.Id %>">
  									<%= Artwork.Title %>
  								</a>
<!-- 								<a href="#artSellModal" data-toggle="modal">Sell Art</a> -->
  							</p>
  							<p class="description text-muted mb-0"><%= Artwork.Description %></p>
  							<p class="text-bold mb-0"><%= Artwork.Artist %></p>
							<p class="text-bold mb-0">Percentage Owned: <%= Artwork.TotalPurchased %>%</p>
  						</row>
  					</div>
  					</div>
  				<% }); %>

  				<div>
  					<a href="/art-myart">See all &gt;</a>
  				</div>
  				<% } else { %>
  				<p class="text-bold mb-0"><b>You haven't purchased any art yet.</b></p>
  				<% } %>
  			</div>
  		</div>
	</div>

    <div class="panel panel-default" id="panel3">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="dashboard" data-toggle="collapse" data-target="#collapseThree"
           href="#collapseThree" class="collapsed">My Financials</a>
        </h4>
      </div>
        <div id="collapseThree" class="panel-collapse collapse">  
            <div class="panel-body mt-4">
                <row>
                  <div class="ml-3 mt-2 mb-4">
                    <p class="">Retrieve your MyEtherWallet balance 
                      <a href="https://www.myetherwallet.com/#view-wallet-info" target="_blank">here</a>.
                    </p>
                  </div>
                </row>
                <row>
                  <div class="mt-2 ml-0">
                    <!-- Future API call to wallet; to POST member wallet address for artwork reserve, buy transactions -->
                    <form class="form-wallet-address" action="" method="post">
                      <span class="ml-3 text-bold">MyEtherWallet address for artwork transactions</span>
                      <label for="walletAddress" class="sr-only">MyEtherWallet Address</label>
                      <input type="text" class="form-control mb-0" id="wallet_address" name="wallet_address" placeholder="MyEtherWallet address" value="<% if (MemberData.WalletAddress) { %><%= MemberData.WalletAddress %><% } %>" disabled>
                    </form>
                    <p class="ml-3">Change your MyEtherWallet address in <a href="/settings">Settings</a>.</p>
                  </div>
                </row>
            </div>
        </div>
    </div>

    <div class="panel panel-default" id="panel4">
        <div class="panel-heading">
			<h4 class="panel-title">
			<a class="dashboard" data-toggle="collapse" data-target="#collapseFour"
				href="#collapseFour" class="collapsed">Transaction Status</a>
			</h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
				<% if (Transactions && Transactions.length > 0) { %>
				  <div class="row mt-4 mb-4">
					<div class="col-md-12">
					  <div class="table-responsive">
					  <table class="table">
						<thead>
						  <tr>
							<th scope="col">Art Title</th>
							<th scope="col">%</th>
							<th scope="col">LOOK</th>
							<th scope="col">USD</th>
							<th scope="col">Status</th>
							<th scope="col">Date</th>
						  </tr>
						</thead>
						<tbody>
		  				<% Transactions.forEach(function(Transaction) { %>
						  <tr>
							<th scope="row"><a href="/art-detail?artworkId=<%= Transaction.ArtworkId %>"><%= Transaction.Title %></a></th>
							<td><%= Transaction.PercentageOwned %>%</td>
							<td><%= Transaction.Look %></td>
							<td><%= Transaction.USD %></td>
							<td><%= Transaction.PurchaseStatusLabel %></td>
							<td><%= Transaction.PurchaseDate %></td>
						  </tr>
		  				<% }); %>
						</tbody>
					  </table>
					</div>
					</div>
				  </div>
				<% } else { %>
					<p><b>You haven't made any transactions yet</b></p>
				<% } %>
            </div>
          </div>
      </div>
    </div>

	<% if (MemberData.Role == 1 && Galleries) { %>

		<div class="panel panel-default" id="panel5">
		  <div class="panel-heading">
			<h4 class="panel-title">
			  <a class="dashboard" data-toggle="collapse" data-target="#collapseFive"
			   href="#collapseFive" class="collapsed">Galleries</a>
			</h4>
		  </div>
			<div id="collapseFive" class="panel-collapse collapse">  
				<div class="panel-body mt-4">
					<row>
						<ul>
							<% Galleries.forEach(function(Gallery) { %>
								<li><a href="/art-galleryart?galleryId=<%= Gallery.Id %>"><%= Gallery.Title %></a></li>
							<% }); %>
						</ul>
					</row>
				</div>
			</div>
		</div>

	<% } %>

	<% if (typeof ErrorText !== 'undefined' && ErrorText !== null && ErrorText != '') { %>
		<div class="alert alert-danger alert-dismissible">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <%= ErrorText %>
		</div>
	<% } %>

</div>

<%- include('footer.ejs') %>
